/* Footer.css */

.footer-container {
  background-color: inherit;
  color: #333;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;

  border-top: 1px solid #fff;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;

  color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-info,
.social-links,
.footer-navigation,
.copyright {
  flex: 1;
  text-align: center;
  margin: 10px 0;
}

.social-links a,
.footer-navigation a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-links a:hover,
.footer-navigation a:hover {
  color: #3498db;
}
